<h1>Course Listing</h1>
<ul>
  <li>Code: cs11</li>
  <li>Name: intro to computer course</li>
  <li>Description: Pellentesque sit amet sem sit amet felis accumsan vestibulum in lobortis nunc.</li>
</ul>
<ul>
  <li>Code: cs12</li>
  <li>Name: intro to other thinks</li>
  <li>Description: Donec elementum turpis sit amet justo vestibulum fringilla.</li>
</ul>